.hot {
    background-color: rgb(255, 56, 56);
}
.cold {
    background-color: rgb(78, 204, 253);
}
.nice {
    background-color: rgb(255, 255, 194);
}

.uvLow {
    background-color: yellowgreen;
}
.uvMed {
    background-color: rgb(252, 252, 116);
}
.uvHigh {
    background-color: rgb(245, 177, 50);
}
.uvVeryHigh {
    background-color: rgb(245, 101, 101);
}
.uvExt {
    background-color: rgb(218, 102, 218);
}
.hidden {
    visibility: hidden;
}
.sunnyBG {
    background-image: url("clear_sky.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fewScatBG {
    background-image: url("scattered_clouds_few_clouds_broken_clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.rainShowerBG {
    background-image: url("rain_shower\ clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.thunderBG {
    background-image: url("thunderstorm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.snowBG {
    background-image: url("snow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
